.logo{
    height: 60px;
    width:60px;
}
.media{
    height: 20px;
    width: 22px;
}
#paragraph > p {
    margin: 0%;
}
.hotel{
    height: 500px;
    width: 500px;
}

.hotel{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
#booking {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom:1%;
}
#Description {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom:2%;
    margin-top: 1%;

}