.logo{
    height: 60px;
    width:60px;
}
.place  {
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
}
.media{
    height: 20px;
    width: 22px;
    float: right;
    
}
#paragraph > p {
    margin: 0%;
}

    

#search {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
        justify-content: center;
}


.cities{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
   #searching > input {
    
        background-color: #f1f1f1;
        border: 1px solid transparent;
        border-radius: 12px;
        width: 400px;
        font-size: 16px;
        padding: 10px;
        
   }
   .login{
    color: black;
    float: right;
    margin-right: 2%;
    margin-top: 1.5%;
   }
   #view{
    
        text-align: center;
        margin-bottom: 30px;
   }
   #view>a {
    text-decoration: none;
    color: black;
   }
   #Contact1 > a{
    text-decoration: none;
    color: black;   
    margin-left: 40px;
}
 
#paragraph > p {
    margin-bottom: 0%;
    margin-top: 18%; 
     vertical-align: middle;

}