.logo{
    height: 60px;
    width:60px;
}
.media{
    height: 20px;
    width: 22px;
}
#paragraph > p {
    margin: 0%;
}
.hotels{
    height: 250px;
    width: 250;

}
#header {
    background-color: rosybrown;
}
#footer  {
    background-color: rosybrown;
}
.places {
    
    background-color: rgb(132,136,139);
    width: 40%;
    margin: 2%;
    
}