.logo{
    height: 60px;
    width:60px;
}

.hotels{
    height: 250px;
    width: 250px;

}
.radisson{
    display: flex;
    height: 200px;
    background-color: lightgrey;
    width: 94%;
    margin: 4%;

}

.places {
    
    background-color: rgb(132,136,139);
    width: 40%;
    margin: 2%;
    display: flex;
	flex-wrap: wrap;
        flex: 1 0 45%;
        margin: 2%;
        background-color: rgb(132, 136, 139);
        max-width: 40%;
    }
    .hotels{
        width: 250px;
        height: 25-px;
    }
   #list {
       display: inline;
       text-align: center;
   }
    

   
    



