.logo{
    height: 60px;
    width:60px;
}
.media{
    height: 20px;
    width: 22px;
}
#paragraph > p {
    margin: 0%;
}
.hotels{
    height: 250px;
    width: 250;

}
.radisson{
    display: flex;
    height: 200px;
    background-color: lightgrey;
    width: 94%;
    margin: 4%;

}

.places {
    
    background-color: rgb(132,136,139);
    width: 40%;
    margin: 2%;

   
    
}
#list > ul > li{
    display: inline; 
}
ul > li >a{
    text-decoration: none;
    color: black;
    margin: 10px;   
}
#list{
        text-align: center;
}