.logo{
    height: 60px;
    width: 60px;
}
.media{
    height: 20px;
    width: 22px;
}
#
}
.hotels{
    height: 500px;
    width: 500px;
}

.media{
    height: 20px;
    width: 22px;
    float: right;
    margin-right: 10px;
}
#hotel{
    margin-top: 2%;
    background-color: rgb(132,136,139);
    width:50%;  
    height:20%; 
    margin-left: 25% ;
    margin-top: 2%;
    margin-bottom: 2%
    
}
#tariff{
    margin:2%; 
    border:1px solid black; 
    border-radius:5px; 
    padding:2% 2%;
}
#details{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
}